body{
    background: url("img/waves.webp");
    font-family: cursive;
}
h1{
    color: pink;
    border: 3px solid;
}
p{
    color: pink;
}

.fild{
    color: pink;
}

.btn{
    border-radius: 100px;
    background: pink;

}

.calcado{
    color: black;
    background-color: pink;
}

form{
    text-align: center;
}